<header class="top-nav">
    <div>
        <a href="/">
            <img src="/images/logo.png" alt="Lisa Funke" id="logo"/>
        </a>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu">
      <li><a href="/">home</a></li>
      <li><a href="#">observation</a></li>
      <li><a href="#">animation</a></li>
      <li><a href="#">visual development</a></li>
      <li><a href="#about">about</a></li>
    </ul>
</header>