---
layout: default
---

<section id="main">
    <div class="grid-container">
        <div>
            <p>click to discover</p><img src="/images/home/fleche.png" alt="click to discover" width="80px" />
        </div>
    </div>
    <div class="grid-container">
        <div><a href="#"><img src="/images/home/IconAnim.png" alt="animation" /></a></div>
        <div><a href="#"><img src="/images/home/IconVisdev.png" alt="visual development" /></a></div>
    </div>
    <div class="grid-container">
        <div><a href="#"><img src="/images/home/IconObs.png" alt="observation" /></a></div>
    </div>
</section>